<div class="custom-footer container-fluid">
  <div class="row justify-content-center text-center text-md-left">
    <!-- Sobre -->
    <div class="custom-footer-section col-md-3 mb-4 mb-md-0">
      <h6>Sobre a Viver Mais</h6>
      <hr />
      <p>
        A Cooperativa Habitacional Viver Mais permite que pessoas conquistem a casa própria colaborando financeiramente em projetos habitacionais, sem depender de bancos, comprovação de renda ou consultas ao SPC/Serasa, com a cooperativa gerenciando todo o processo.
      </p>
    </div>

    <!-- Contato - Matriz -->
    <div class="custom-footer-section col-md-3 mb-4 mb-md-0">
      <h6>Matriz</h6>
      <hr />
      <p>
        <i class="bi bi-geo-alt-fill"></i> {{ matriz.endereco }} -
        {{ matriz.cep }}
      </p>
      <p><i class="bi bi-telephone-fill"></i> {{ matriz.telefone }}</p>
      <p><i class="bi bi-envelope-fill"></i> {{ email }}</p>
    </div>


    <!-- Social -->
    <div class="custom-footer-section col-md-3">
      <h6>Conecte-se</h6>
      <hr />
      <div class="social-links">
        <a [href]="instagramLink" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
        <a [href]="youtubeLink" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>
        <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
      </div>

      <div class="contact-info">
        <p><i class="bi bi-telephone"></i> {{ telefone }}</p>
        <p><i class="bi bi-envelope"></i> {{ email }}</p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom text-center mt-4">
    <p>
      &copy; {{ currentYear }} ViverMais. Todos os direitos reservados
    </p>
  </div>
</div>