/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    top: 80%; /* Centraliza verticalmente */
    right: 20px; /* Mantém no canto direito */
    transform: translateY(-50%); /* Ajusta para centralizar no eixo Y */
    z-index: 100;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .whatsapp-float:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%) scale(1.1);
  }
  
  .whatsapp-icon {
    font-size: 2.5rem; /* Aumenta o tamanho do ícone */
    color: white; /* Torna o ícone branco */
  }
  