<!-- WhatsApp Floating Button -->
<!-- <a href="https://wa.me/558596015923" target="_blank" class="whatsapp-float">
  <i class="bi bi-whatsapp whatsapp-icon"></i>
</a> -->
<app-chat-room></app-chat-room>

<!-- Carrossel Section -->
<div class="home-landpage">
  <div class="col-md-10 app-carrossel" id="home">
    <app-carrossel></app-carrossel>
  </div>

  <!-- About Section -->
  <div id="about" class="about-section">
    <app-about></app-about>
  </div>

  <!-- Services Section -->
  <div id="servicos" class="services-section">
    <app-cards></app-cards>
  </div>

  <!-- Contact Section -->
  <div id="contato" class="contact-section">
   <!-- <app-formulario></app-formulario> -->
    <app-contactarea></app-contactarea>
  </div>
</div>
<app-footer/>
